<div data-bonuses>
  <div class="mb-10">
    {% include "item.twig" %}
    {% include "item.twig" %}
    {% include "item.twig" %}
    {% include "item.twig" %}
    {% include "item.twig" %}
    {% include "item.twig" %}
  </div>

  {% include "pagination.twig" %}
</div>