<div data-bonuses class="relative">
  <div class="mb-10 min-h-96 relative" data-bonuses-list>
    {{ spinner() }}
  </div>

  {{ spinner("hidden") }}

  <div class="flex justify-between">
    {% include "pagination.twig" %}
    {% include "navigation.twig" %}
  </div>
</div>