<div>
  <div class="mb-10">
    {% include "item.twig" %}
    {% include "item.twig" %}
    {% include "item.twig" %}
    {% include "item.twig" %}
    {% include "item.twig" %}
    {% include "item.twig" %}

    {# add advertising #}
  </div>

  {% include "pagination.twig" %}
</div>