<div 
  class="
    border-2 border-transparent
    [&.opened]:border-yellow-400
    group 
    mb-4 
    md:mb-6 md:bg-white md:border md:border-gray-300
    overflow-hidden 
    relative 
    rounded-lg
  "
  data-item
>
  <div 
    class="
      flex
      group-hover:bg-yellow-50 group-[.opened]:bg-yellow-50
      items-center 
      justify-between 
      lg:p-1 
      md:flex-col md:group-hover:bg-transparent md:items-start md:p-0 
      p-4 
      transition-colors 
      xl:p-2 
    "
  >
    <div 
      class="
        basis-[420px] 
        gap-x-6 gap-y-1
        grid grid-areas-bonus-content grid-cols-[min-content]
        items-center
        justify-start
        lg:basis-auto lg:gap-x-2 
        max-w-[420px] 
        md:basis-0 md:gap-y-2 md:grid-areas-bonus-content-mobile md:max-w-full md:mb-4 md:pt-4 md:px-4
        xl:basis-[400px] xl:gap-x-3 
      "
    >
      <div 
        class="
          bg-blue-900 
          flex 
          grid-in-logo
          h-20 
          items-center 
          justify-center 
          lg:h-16 lg:min-w-16 lg:w-16 
          md:h-12 md:min-w-12 md:px-2 md:w-12 
          min-w-20 
          rounded-lg 
          text-center 
          w-20 
        "
      >
        <img alt="Bonus image." src="/images/bonus_img.png">
      </div>

      <div class="grid-in-badges flex items-center gap-x-2">
        <ul class="flex gap-x-2">
          <li 
            class="
              bg-red-700 
              font-medium 
              h-[19px] 
              leading-[19px] 
              px-1 
              rounded 
              text-[11px] text-center text-nowrap text-white 
            "
          >
            Doporučené
          </li>
          <li 
            class="
              bg-yellow-100 
              font-medium 
              h-[19px] 
              leading-[19px] 
              px-1 
              rounded 
              text-[11px] text-yellow-900 text-center text-nowrap
            "
          >
            Free spins
          </li>
          <li 
            class="
              bg-yellow-100 
              font-medium 
              h-[19px] 
              leading-[19px] 
              px-1 
              rounded 
              text-[11px] text-center text-nowrap text-yellow-900 
            "
          >
            S vkladem
          </li>
        </ul>

        <p class="text-[11px] leading-[19px]">Expirace 22.8.2024</p>
      </div>

      <h3 
        class="
          font-black 
          grid-in-title 
          text-[22px] 
          xl:text-[20px] 
          leading-[22px] 
          md:text-base md:font-bold md:leading-6
        "
      >
        VIP Boosted Welcome Bonus
      </h3>
      <p class="text-sm leading-4 grid-in-text">Up to 2000 CAD + 250 FS</p>
    </div>

    <div class="flex items-center gap-x-4 xl:gap-x-2 md:hidden">
      <div>
        <p 
          class="
            font-bold 
            from-[#ff641a] 
            group-hover:bg-clip-text group-hover:bg-gradient-to-b group-hover:text-transparent 
            leading-6 
            lg:text-xs
            mb-1 
            to-[#ff9100] 
            uppercase 
            xl:text-sm 
          "
        >
          12 500 CZK
        </p>
        <p class="text-gray-500 text-[10px] font-medium uppercase leading-[10px]">
          Max výše Bonusu
        </p>
      </div>

      <span class="inline-block min-h-[38px] w-px bg-gray-400"></span>

      <div>
        <p 
          class="
            mb-1 
            font-bold 
            leading-6 
            uppercase 
            group-hover:text-transparent 
            group-hover:bg-gradient-to-b 
            from-[#ff641a] 
            to-[#ff9100] 
            group-hover:bg-clip-text 
            xl:text-sm 
            lg:text-xs
          "
        >
          500 CZK
        </p>
        <p class="text-gray-500 text-[10px] font-medium uppercase leading-[10px]">
          Min. vklad
        </p>
      </div>
    </div>

    <div class="flex flex-col items-start justify-center gap-y-2 md:w-full md:items-stretch md:flex-col-reverse">
      <div class="md:flex">
        {{ button("Využít bonus", "primary", "normal", "button", "md:rounded-t-none md:rounded-ee-none grow") }}
        
        <button 
          class="
            hidden 
            md:block 
            rounded-ee-lg 
            bg-gray-400 
            text-white 
            min-w-24 
            font-bold
          "
          data-more-mobile
          data-text-closed="Více info"
          data-text-opened="Mene info"
          type="button"
        >
          <span data-more-mobile-text>
            Více info
          </span>
        </button>
      </div>

      <div class="md:flex md:justify-between md:px-4 md:mb-2">
        <p 
          class="
            cursor-pointer 
            underline 
            decoration-dashed 
            decoration-from-font 
            underline-offset-[3px] 
            text-[11px] 
            leading-none 
            hover:no-underline
          "
          data-copy-code="SO12XI9"
        >
          Zkopíruj kod SO12XI9
        </p>

        <a class="text-[11px] leading-none" href="#">
          <span>Přečíst recenzi</span>

          <svg class="ml-1 align-middle h-[7px] w-[4px] hidden md:inline-block">
            <use xlink:href="#angleSmallIcon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div
    class="px-4 overflow-hidden h-0 transition-[height] group-[.opened]:h-[calc-size(auto,size)]" 
    data-content
  >
    <div class="flex items-center justify-between pb-6 border-b-[1px] mb-4 pt-4 md:flex-wrap md:gap-y-4">
      <div class="flex gap-x-2 md:w-full md:justify-between md:items-center">
        <div class="basis-10 h-10 w-10 md:h-8 md:basis-8 md:w-8 flex items-center justify-center rounded bg-gray-200 md:bg-blue-100">
          <svg class="h-6 w-6 md:scale-75">
            <use xlink:href="#moneyIcon"></use>
          </svg>
        </div>

        <div class="md:flex md:justify-between md:flex-row-reverse md:items-center md:grow">
          <p class="font-bold leading-6 md:leading-none">12 500 CZK</p>
          <p class="text-gray-500 uppercase leading-[10px] text-xs">Max. výše bonusu</p>
        </div>
      </div>

      <div class="flex gap-x-2 md:w-full">
        <div class="basis-10 h-10 w-10 md:h-8 md:basis-8 md:w-8 flex items-center justify-center rounded bg-gray-200 md:bg-blue-100">
          <svg class="h-6 w-6 md:scale-75">
            <use xlink:href="#coinsIcon"></use>
          </svg>
        </div>

        <div class="md:flex md:justify-between md:flex-row-reverse md:items-center md:grow">
          <p class="font-bold leading-6 md:leading-none">125 CZK</p>
          <p class="text-gray-500 uppercase leading-[10px] text-xs">Max. sázka</p>
        </div>
      </div>

      <div class="flex gap-x-2 md:w-full">
        <div class="basis-10 h-10 w-10 md:h-8 md:basis-8 md:w-8 flex items-center justify-center rounded bg-gray-200 md:bg-blue-100">
          <svg class="h-6 w-6 md:scale-75">
            <use xlink:href="#handIcon"></use>
          </svg>
        </div>

        <div class="md:flex md:justify-between md:flex-row-reverse md:items-center md:grow">
          <p class="font-bold leading-6 md:leading-none">1 250 CZK</p>
          <p class="text-gray-500 uppercase leading-[10px] text-xs">Min. vklad</p>
        </div>
      </div>

      <div class="flex gap-x-2 md:w-full">
        <div class="basis-10 h-10 w-10 md:h-8 md:basis-8 md:w-8 flex items-center justify-center rounded bg-gray-200 md:bg-blue-100">
          <svg class="h-6 w-6 md:scale-75">
            <use xlink:href="#discountIcon"></use>
          </svg>
        </div>

        <div class="md:flex md:justify-between md:flex-row-reverse md:items-center md:grow">
          <p class="font-bold leading-6 md:leading-none">50 %</p>
          <p class="text-gray-500 uppercase leading-[10px] text-xs">% výše bonusu</p>
        </div>
      </div>

      <div class="flex gap-x-2 md:w-full">
        <div class="basis-10 h-10 w-10 md:h-8 md:basis-8 md:w-8 flex items-center justify-center rounded bg-gray-200 md:bg-blue-100">
          <svg class="h-6 w-[23px] md:scale-75">
            <use xlink:href="#lotteryIcon"></use>
          </svg>
        </div>

        <div class="md:flex md:justify-between md:flex-row-reverse md:items-center md:grow">
          <p class="font-bold leading-6 md:leading-none">50</p>
          <p class="text-gray-500 uppercase leading-[10px] text-xs">Free spins</p>
        </div>
      </div>
    </div>

    <div class="pb-8" data-sections>
      <div class="mb-4 group/section" data-item>
        <div class="flex items-center justify-between cursor-pointer mb-2 select-none" data-trigger>
          <h5 class="font-bold leading-6">Jak získat bonus?</h5>
          
          <svg class="h-3 w-3 group-[.opened]/section:hidden">
            <use xlink:href="#plusIcon"></use>
          </svg>

          <svg class="h-3 w-3 hidden group-[.opened]/section:block">
            <use xlink:href="#minusIcon"></use>
          </svg>
        </div>

        <div class="pl-5 h-0 overflow-hidden group-[.opened]/section:h-[calc-size(auto,size)] transition-[height]">
          <ul class="list-disc leading-6">
            <li>
              <a 
                class="text-blue-500 hover:text-yellow-400 transition-colors" 
                href="#"
              >
                Registruj se
              </a> 
              v Betanu a získej 100 Kč do sázkovky + 500 
              otoček zdarma s promo kódem „VYHRAJ„
            </li>
            <li>
              Navíc znásob svůj první vklad do casina 100% až do výše 600 Kč
            </li>
            <li>
              Bonus má WR pouze 1x, nelze na něm tedy prodělat!
            </li>
          </ul>
        </div>
      </div>

      <div class="group/section" data-item>
        <div class="flex items-center justify-between cursor-pointer mb-2 select-none" data-trigger>
          <h5 class="font-bold leading-6">Časové omezení bonusu</h5>
          
          <svg class="h-3 w-3 group-[.opened]/section:hidden">
            <use xlink:href="#plusIcon"></use>
          </svg>

          <svg class="h-3 w-3 hidden group-[.opened]/section:block">
            <use xlink:href="#minusIcon"></use>
          </svg>
        </div>

        <div class="pl-5 h-0 overflow-hidden group-[.opened]/section:h-[calc-size(auto,size)] transition-[height]">
          <ul class="list-disc leading-6">
            <li>
              <a 
                class="text-blue-500 hover:text-yellow-400 transition-colors" 
                href="#"
              >
                Registruj se
              </a> 
              v Betanu a získej 100 Kč do sázkovky + 500 
              otoček zdarma s promo kódem „VYHRAJ„
            </li>
            <li>
              Navíc znásob svůj první vklad do casina 100% až do výše 600 Kč
            </li>
            <li>
              Bonus má WR pouze 1x, nelze na něm tedy prodělat!
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <button
    class="
      absolute 
      hidden 
      group-hover:inline-block group-[.opened]:max-w-full group-[.opened]:block group-[.opened]:rounded-t-none
      appearance-none 
      bottom-0 
      h-5 
      rounded-t-md 
      font-medium 
      text-[10px] 
      max-w-36 
      mx-auto 
      left-0 
      right-0 
      uppercase 
      bg-gray-200
      md:group-hover:hidden
    " 
    data-more
    data-text-opened="Méně detailů"
    data-text-closed="více detailů"
    type="button"
  >
    <span 
      class="align-[-2px] cursor-pointer"
      data-more-text
    >
      více detailů
    </span>

    <svg class="h-[6px] w-3 inline-block align-middle ml-1 group-[.opened]:rotate-180">
      <use xlink:href="#angleIcon"></use>
    </svg>
  </button>
</div>