<div class="flex gap-x-[5px]">
  <button 
    class="
      border border-blue-900 
      flex 
      h-8 
      items-center 
      justify-center 
      overflow-hidden
      rounded-lg 
      w-8 
    " 
    type="button"
  >
    {{ icon("#anglePaginationIcon", "h-2 w-2") }}
  </button>

  <button 
    class="
      border border-blue-900 
      flex 
      h-8 
      items-center 
      justify-center 
      overflow-hidden
      rounded-lg 
      w-8 
    " 
    type="button"
  >
    {{ icon("#anglePaginationIcon", "h-2 w-2 rotate-180") }}
  </button>
</div>