<div class="flex gap-x-[5px]">
  <button 
    class="
      border border-blue-900 
      flex 
      h-8 
      items-center 
      justify-center 
      overflow-hidden
      rounded-lg 
      w-8 
    " 
    type="button"
  >
    <svg class="h-2 w-2">
      <use xlink:href="#anglePaginationIcon"></use>
    </svg>
  </button>

  <button 
    class="
      border border-blue-900 
      flex 
      h-8 
      items-center 
      justify-center 
      overflow-hidden
      rounded-lg 
      w-8 
    " 
    type="button"
  >
    <svg class="h-2 w-2 rotate-180">
      <use xlink:href="#anglePaginationIcon"></use>
    </svg>
  </button>
</div>