<ul class="flex gap-x-[5px]" data-pagination>
  <li 
    class="
      border border-gray-400
      cursor-pointer
      font-medium
      h-8 
      leading-8 
      rounded-lg 
      text-[13px] text-center text-blue-900
      w-8
      selected
      hover:border-blue-900
      [&.selected]:border-blue-900
    "
    data-page="1"
  >
    1
  </li>
  <li 
    class="
      border border-gray-400
      cursor-pointer
      font-medium
      h-8 
      leading-8 
      rounded-lg 
      text-[13px] text-center text-blue-900
      w-8
      hover:border-blue-900
      [&.selected]:border-blue-900
    "
    data-page="2"
  >
    2
  </li>
  <li 
    class="
      border border-gray-400
      cursor-pointer
      font-medium
      h-8 
      leading-8 
      rounded-lg 
      text-[13px] text-center text-blue-900
      w-8
      hover:border-blue-900
      [&.selected]:border-blue-900
    "
    data-page="3"
  >
    3
  </li>

  <li 
    class="
      border border-gray-400
      cursor-pointer
      font-medium
      h-8 
      leading-8 
      rounded-lg 
      text-[13px] text-center text-blue-900
      w-8
      hover:border-blue-900
      [&.selected]:border-blue-900
    "
  >
    ...
  </li>
  <li 
    class="
      border border-gray-400
      cursor-pointer
      font-medium
      h-8 
      leading-8 
      rounded-lg 
      text-[13px] text-center text-blue-900
      w-8
      hover:border-blue-900
      [&.selected]:border-blue-900
    "
    data-page="10"
  >
    10
  </li>
</ul>