<div class="flex justify-between">
  <ul class="flex gap-x-[5px]">
    <li class="h-8 w-8 border border-blue-900 rounded-lg leading-8 text-center text-[13px] font-medium">1</li>
    <li class="h-8 w-8 border border-blue-900 rounded-lg leading-8 text-center text-[13px] font-medium">2</li>
    <li class="h-8 w-8 border border-blue-900 rounded-lg leading-8 text-center text-[13px] font-medium">3</li>
    <li class="h-8 w-8 border border-blue-900 rounded-lg leading-8 text-center text-[13px] font-medium">...</li>
    <li class="h-8 w-8 border border-blue-900 rounded-lg leading-8 text-center text-[13px] font-medium">10</li>
  </ul>

  <div class="flex gap-x-[5px]">
    <button class="border border-blue-900 flex justify-center items-center rounded-lg h-8 w-8 overflow-hidden" type="button">
      <svg class="h-2 w-2">
        <use xlink:href="#anglePaginationIcon"></use>
      </svg>
    </button>

    <button class="border border-blue-900 flex justify-center items-center rounded-lg h-8 w-8 overflow-hidden" type="button">
      <svg class="h-2 w-2 rotate-180">
        <use xlink:href="#anglePaginationIcon"></use>
      </svg>
    </button>
  </div>
</div>