{% block head %}
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, maximum-scale=1, width=device-width" name="viewport">
    <title>Betting online | {% block title %}{% endblock %}</title>
    <link href="/favicon.ico" rel="shortcut icon">
    <style>
      @font-face {
        font-display: swap;
        font-family: "MuseoSansRounded";
        font-style: normal;
        font-weight: 100;
        src: url("/fonts/MuseoSansRounded-Thin.otf");
      }

      @font-face {
        font-display: swap;
        font-family: "MuseoSansRounded";
        font-style: normal;
        font-weight: 400;
        src: url("/fonts/MuseoSansRounded-Regular.otf");
      }

      @font-face {
        font-display: swap;
        font-family: "MuseoSansRounded";
        font-style: normal;
        font-weight: 500;
        src: url("/fonts/MuseoSansRounded-Medium.otf");
      }

      @font-face {
        font-display: swap;
        font-family: "MuseoSansRounded";
        font-style: normal;
        font-weight: 700;
        src: url("/fonts/MuseoSansRounded-Bold.otf");
      }

      @font-face {
        font-display: swap;
        font-family: "MuseoSansRounded";
        font-style: normal;
        font-weight: 900;
        src: url("/fonts/MuseoSansRounded-Black.otf");
      }

      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      object {
        pointer-events: none;
      }

      svg {
        height: 100%;
      }
    </style>
  </head>
{% endblock %}