<div class="flex items-center justify-between min-h-[140px] md:min-h-0 mb-20 xl:mb-10">
  <div>
    <div class="mb-2">
      <ul class="flex items-center h-5 gap-x-1">
        <li class="flex items-center gap-x-1">
          <a class="text-gray-500 hover:text-yellow-400" href="/">
            <svg class="w-4 h-4 -mt-[1px]">
              <use xlink:href="#homeIcon"></use>
            </svg>
          </a>

          <svg class="text-gray-500 h-[11px] w-[11px]">
            <use xlink:href="#angleBreadcrumbsIcon"></use>
          </svg>
        </li>
        {# <li class="flex items-center gap-x-1">
          <a class="text-sm leading-[25px] text-gray-500 hover:text-yellow-400" href="#">
            Some previous page link
          </a>

          <svg class="text-gray-500 h-[11px] w-[11px]">
            <use xlink:href="#angleBreadcrumbsIcon"></use>
          </svg>
        </li> #}
        <li class="flex items-center gap-x-1">
          <span class="text-sm leading-[25px] text-gray-500">
            VIP Bonusy
          </span>
        </li>
      </ul>
    </div>

    <div class="max-w-[410px] md:max-w-full">
      <h1 class="text-5xl font-black leading-[56px] md:leading-[48px] mb-2 lg:text-[40px]">
        <span class="text-transparent bg-gradient-to-r from-[#ff9100] to-[#ff641a] bg-clip-text">VIP</span> Bonusy
      </h1>

      <p class="leading-6">Všechny bonusy na jednom místě - 
        <span class="font-bold">každý týden odhalte nové a unikátní bonusové kódy</span>!
      </p>
    </div>
  </div>

  <div class="h-[90px] grow max-w-[728px] xl:max-w-[500px] lg:hidden">
    <img alt="Hero." class="object-cover w-full h-full" src="/images/hero_img.jpg">
  </div>
</div>