<div class="flex justify-between xl:gap-x-10 min-h-[266px] gap-x-20 mb-36 xl:mb-16 lg:flex-col lg:mb-20">
  <div 
    class="
      basis-[636px]
      min-w-[636px]
      rounded-2xl
      h-[266px]
      xl:min-w-[50%]
      xl:h-[220px]
      lg:h-[144px]
      lg:min-w-0
      lg:basis-[unset]
      lg:mb-10
      lg:max-w-[342px]
      overflow-hidden
    "
  >
    <img alt="How it works." class="object-cover w-full h-full" src="/images/how_img.jpg">
  </div>
 
  <div class="grow">
    <h2 class="font-black text-[26px] lg:text-[24px] leading-[32px] lg:leading-[30px] mb-4">
      Jak fungují casino bonusové kódy?
    </h2>

    <div class="flex flex-col leading-6 gap-y-6">
      <p>
        <b>Casino bonusové kódy</b> a <b>casino promo kódy</b> jsou speciální kódy, které hráčům v online casinech přinášejí výhody 
        jako jsou <b>free spiny, bonusy bez vkladu nebo peníze zdarma</b>. Tyto kódy mají obvykle 6 až 16 znaků a skládají se z 
        kombinace písmen a čísel. <b>Casino bonusové kódy zdarma</b> jsou jedním z nejlepších způsobů, jak zvýšit své šance na výhru.
      </p>

      <p>
        Hráči mohou casino promo kódy získat různými způsoby, včetně <b>účasti v soutěžích</b>, zapojení do <b>sezónních akcí</b>, skrze 
        <b>partnerské weby</b>, nebo jako <b>dárek</b> přímo od casina. Získání a správné použití kódu může být rozhodujícím krokem na Vaší 
        cestě za výhrami!
      </p>
    </div>
  </div>
</div>