{%
  set items = [
    { "href": "https://youtube.com", iconId: "youtube", "title": "Svět zdravých a úspěšných hráčů" },
    { "href": "https://tiktok.com", iconId: "tiktok", "title": "svetuspesnychhracu" },
    { "href": "https://instagram.com", iconId: "instagram", "title": "svetuspesnychhracu" },
    { "href": "https://facebook.com", iconId: "facebook", "title": "Pomáháme si v sázení" },
  ]
%}

<div class="mb-24 lg:mb-14">
  <ul class="flex items-center justify-between gap-x-[10px] xl:gap-x-0 lg:flex-wrap lg:gap-y-6 md:flex-col md:items-stretch md:max-w-96 xs:max-w-full">
    {% for item in items %}
      <li class="lg:rounded-2xl lg:basis-1/2 md:h-20 md:basis-auto md:bg-white">
        <a
          class="flex items-center gap-x-4 group xl:gap-x-2 md:h-full lg:gap-x-2 px-4 lg:px-1 xl:px-3 md:px-6"
          href="{{ item.href }}" 
          target="_blank" 
          title="{{ item.title | capitalize }}"
        >
          {{ icon("#" ~ item.iconId ~ "Icon3", "w-8 h-8") }}
          
          <span 
            class="
              font-bold 
              group-hover:text-yellow-400 
              lg:text-base
              text-lg 
              transition-colors 
              whitespace-nowrap 
              xl:text-[15px] 
            "
          >
            {{ item.title }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>