<div data-search class="relative lg:hidden">
  <button data-trigger class="align-middle" type="button">
    <svg class="h-6 w-6">
      <use xlink:href="#searchIcon"></use>
    </svg>
  </button>

  <div class="absolute hidden rounded-lg top-0 right-0 z-30 bg-white shadow-lg min-w-[347px] px-4 pb-4 border-t border-blue-900" data-popover>
    <div class="h-[52px] relative mb-4">
      <svg class="h-6 w-6 absolute left-0 text-gray-500 top-[50%] translate-y-[-50%]">
        <use xlink:href="#searchIcon"></use>
      </svg>
      
      <input class="appearance-none bg-transparent h-full w-full pl-8 outline-none" placeholder="Hledejte" type="search">
    </div>

    <div class="flex flex-col gap-y-4">
      <div>
        <p class="text-blue-500 text-xs uppercase mb-2">Akademie</p>
        <p class="leading-6 font-bold">Tip na zápas Kamerun – Brazílie (MS ve fotbale 2022, 2. 12.)</p>
      </div>

      <div>
        <p class="text-blue-500 text-xs uppercase mb-2">blog</p>
        <p class="leading-6 font-bold">Tip na zápas Kamerun – Brazílie (MS ve fotbale 2022, 2. 12.)</p>
      </div>
    </div>
  </div>
</div>