<div data-search class="relative lg:hidden">
  <button data-trigger class="align-middle" type="button">
    {{ icon("#searchIcon", "h-6 w-6") }}
  </button>

  <div 
    class="
      absolute 
      bg-white 
      border-blue-900 border-t 
      hidden 
      min-w-[347px] 
      pb-4 px-4 
      right-0 
      rounded-lg 
      shadow-lg 
      top-0 
      z-30 
    " 
    data-popover
  >
    <div class="h-[52px] relative mb-4">
      {{ icon("#searchIcon", "h-6 w-6 absolute left-0 text-gray-500 top-[50%] translate-y-[-50%]") }}
      
      <input 
        class="appearance-none bg-transparent h-full w-full pl-8 outline-none" 
        name="search" 
        placeholder="Hledejte" 
        type="search"
      >
    </div>

    <div class="flex flex-col gap-y-4">
      <div>
        <p class="text-blue-500 text-xs uppercase mb-2">Akademie</p>
        <p class="leading-6 font-bold">Tip na zápas Kamerun – Brazílie (MS ve fotbale 2022, 2. 12.)</p>
      </div>

      <div>
        <p class="text-blue-500 text-xs uppercase mb-2">blog</p>
        <p class="leading-6 font-bold">Tip na zápas Kamerun – Brazílie (MS ve fotbale 2022, 2. 12.)</p>
      </div>
    </div>
  </div>
</div>